* {
  box-sizing: border-box; // Just to be safe
}

.menu {
  // Flex direction can be changed but I don't recommend it
  // Gap can be changed
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;

  .menu-item {
    // These proprieties ensure the dot is centered and placed below the menu item
    // Add padding if you want to increase the hovering zone
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .item-text {
      // Styes can be changed at will
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.5rem;
    }

    .item-border {
      // Width and height can be changed but must be equal to make the dot not elliptical (border radius makes the dot round)
      // Background color can be changed but consider adjusting .item-text's font color
      // Transition times and timing functions can be changed but height and margin should have the same time
      width: 4px;
      height: 4px;
      background-color: black;
      margin: 0;
      border-radius: 100%;
      transition: width 0.2s ease-in-out, height 0.1s ease-in-out,
        margin 0.1s ease-in-out, border-radius 0.1s ease-in-out;
    }

    &:hover {
      .item-border {
        // Height can be changed but make sure to adjust the margin (height + margin with hover = height without hover)
        // The margin is present to prevent .item-text from moving due to the height change when hovering on .menu-item
        // Transition times and timing functions can be changed but height and margin should have the same time
        width: 100%;
        height: 2px;
        margin: 1px 0;
        border-radius: 0;
      }
    }
  }
}
